main{
    width: 500px;
    margin: 10px auto 0 auto;
}

#search{
    width: 100%;
    padding: 10px;
}

#suggestion-area{
    border: 1px solid black;
    padding: 5px;
    margin-top: 10px;
    min-height: 100px;
    position: relative;
    display: none;
} 